/* AZUL USADO #007bff */ 

body {
  width: 100%;
}
/* Estilos para la barra de navegación */
.nav {
  font-size: 1.2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Estilos para los botones */
.btn {
  margin: 5px; /* Margen entre botones */
}

/* Estilos para las tarjetas de producto */
.card {
  justify-content: center;
  padding: 5px; /* Espacio interno */
  border: 1px solid #dee2e6; /* Borde */
}

.card h2 {
  display: flex;
  justify-content: center;
  margin: 0; /* Quita el margen predeterminado de h2 */
}

.card ul {
  margin: 0; /* Quita el margen predeterminado de ul */
  padding: 0; /* Quita el espacio interno predeterminado de ul */
  list-style: none; /* Quita los puntos de lista */
}

.card li {
  margin: 5px 0; /* Margen superior e inferior */
}



/* Estilos para el carrito de compras */
#carrito {
  width: 100%;
  margin-top: 0px; /* Margen superior */
  padding: 20px; /* Espacio interno */
  border: 1px solid #dee2e6; /* Borde */
}

#carrito h2 {
  margin: 0; /* Quita el margen predeterminado de h2 */
}

#carrito ul {
  margin: 0; /* Quita el margen predeterminado de ul */
  padding: 0; /* Quita el espacio interno predeterminado de ul */
  list-style: none; /* Quita los puntos de lista */
}

#carrito li {
  margin: 5px 0; /* Margen superior e inferior */
}

#carrito-total {
  font-size: 1rem; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  margin: 10px 0; /* Margen superior e inferior */
}

/* Estilos para el mensaje de confirmación */
.alert-success {
  margin-top: 20px; /* Margen superior */
  padding: 10px; /* Espacio interno */
  border: 1px solid #c3e6cb; /* Borde */
  background-color: #d4edda; /* Color de fondo */
  color: #155724; /* Color del texto */
}
/* Estilos para la barra de navegación */
.navbar {
  background-color: #343a40; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 0; /* Espacio interno */
}

.navbar h1 {
  margin: 0; /* Quita el margen predeterminado de h1 */
  font-size: 1rem; /* Tamaño del texto */
}

/* Estilos para los botones */
.btn {
  margin: 5px; /* Margen entre botones */
}

/* Estilos para las tarjetas de producto */
.card {
  margin: 20px 0; /* Margen superior e inferior */
  padding: 20px; /* Espacio interno */
  border: 1px solid #dee2e6; /* Borde */
  align-content: center;
  flex-wrap: wrap;
}

.card h2 {
  margin: 0; /* Quita el margen predeterminado de h2 */
}

.card ul {
  margin: 0; /* Quita el margen predeterminado de ul */
  padding: 0; /* Quita el espacio interno predeterminado de ul */
  list-style: none; /* Quita los puntos de lista */
}

.card li {
  margin: 5px 0; /* Margen superior e inferior */
}


/* Estilos para el carrito de compras */
#carrito {
  margin-top: 50px; /* Margen superior */
  padding: 20px; /* Espacio interno */
  border: 1px solid #dee2e6; /* Borde */
}

#carrito h2 {
  margin: 0; /* Quita el margen predeterminado de h2 */
}

#carrito ul {
  margin: 0; /* Quita el margen predeterminado de ul */
  padding: 0; /* Quita el espacio interno predeterminado de ul */
  list-style: none; /* Quita los puntos de lista */
}

#carrito li {
  margin: 5px 0; /* Margen superior e inferior */
}

#carrito-total {
  font-size: 1.2rem; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  margin: 10px 0; /* Margen superior e inferior */
}

#productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


